body{
    font-family: 'Kumbh Sans', sans-serif;
}
.get-profile-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 38rem;
    align-items: center;
}

.get-profile-box{
    display: flex;
    border-radius: 2%;
    flex-direction: column;
    padding: 5% 5% 10% 5%;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    
}
.get-task-box{
    display: flex;
    border-radius: 2%;
    flex-direction: column;
    padding: 3.8%;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    color: #f0f0f0;
    
}
button.navbar-toggler{
    border-color: grey;
}
.navbar-custom-height{
   
 padding:0 16%;
  min-height: 4rem;
  background-color: rgba(0,0,0,1);
  color: #fcfcfc;
}

.custom-navbar-flex{
    justify-content: space-between;
    width: 24%;
}
.get-profile-box h3{
    color: #fcfcfc;
    font-size: 1.5rem;
}

.radios-one{
    margin-left: 11px;
}

.radios{
    position: relative;
    top:2px;
    left:8px;
}
.header-section{
    display: flex;
    justify-content: space-between;
    width: 78%;
    margin-bottom: 3%;
}
.content-bg{
    min-height: 81vh;
    background-color: #0f0f0f;
    background: radial-gradient(circle, rgba(18,37,84,1) 0%, rgba(0,0,0,1) 39%);
    background-attachment: fixed;
    
}
.ack{
    display: flex;
    justify-content: center;
    height: 81vh;
    align-items: center;
    
}


input.name::placeholder{
    color: #fcfcfc;
}
input.name{
    border-radius: 5px;
    margin: 35% 0 1% 0;
    background-color: rgba(0,0,0,1);
    color: #fcfcfc;
    border-color:grey;
    border-width: 1px;
    border-radius: 3px;
    width: 100%;
    height: 2rem;
    
}
input.email,textarea.description,.message::placeholder{
    color: #fcfcfc;
}
input.email{
    background-color: rgba(0,0,0,1);
    color: #fcfcfc;
    border-color:grey;
    border-width: 1px;
    border-radius: 3px;
    margin:5% 0 1% 0;
    width: 100%;
    
}
textarea.description{
    background-color: rgba(0,0,0,1);
    color: #fcfcfc;
    border-color:grey;
    border-width: 1px;
    border-radius: 3px;
    margin:5% 0 1% 0 ;
}
.message{
    background-color: rgba(0,0,0,1);
    color: #fcfcfc;
    border-color:grey;
    border-width: 1px;
    border-radius: 3px;
    margin:5% 0 1% 0 ;
    width: 100%;
    height: 10pc;
}
.create-button:hover{
    background-color: #f0f0f0;
    color: #0f0f0f;
}

button.submit{
     background-color:white;
    font-weight: bold;
    margin-top: 20%;
    border-radius: 25px;
    color: rgba(0,0,0,1);
}

.contactsubmit{
    background-color:white;
   font-weight: bold;
   margin-top: 5%;
   border-radius: 25px;
   color: rgba(0,0,0,1);
}

button.createsubmit{
    background-color:white;
    font-weight: bold;
    border-radius: 25px;
    color: rgba(0,0,0,1);
    margin-top: 25%;
}
.update-button:hover{
    background-color: #f0f0f0;
    color: #0f0f0f;
    border-radius: 20px;
}
.task-div{
    color: #fcfcfc;
   
    padding:2% 5% 0 5%
}
.task-header{
   
    font-size:2rem;
}
.card{
    position: relative;
    margin:  5% 3%;
    
    background-color: transparent;
    border-style: solid;
    border-color: grey;
    color: #f0f0f0;
    padding: 15%;
}
.delete-button{
   
    font-size: 0.7rem;
    position: absolute;
    top: 4%;
    right: 5%;
    border-style: none;
    border-radius: 100px;
    opacity: 37%;
}
.delete-button:hover{
 background-color: #f0f0f0;
}
.update-button{
    position: absolute;
    bottom: 7%;
    width: 42%;
    border-style: none;
    

}
.card h6{
    opacity: 30%;
}
p{
    margin-top: 1rem;
    margin-bottom: 3rem;
}
form p{
    margin-top: 0;
    margin-bottom: 5px;
    color: red;
}
.ack p{
 color: #f0f0f0;
 font-size: 32px;
}
form p:hover{
    color: red;
}

button a:link,:visited,:hover,:active{
    color: #f0f0f0;
    text-decoration: none;
    
}
.footer{
    display: flex;
    position: inherit;
    width: 100%;
    height: 5.1rem;
    background: rgba(0,0,0,1);
    
    color: #fcfcfc;
    justify-content: center;
    align-items: center;
}

.zoomin{
    box-shadow: 10px 5px 5px red;
  }
@media screen and (min-width: 992px) and (max-width:1831px) {
    .update-button{
         position: absolute;
    bottom: 7%;
    width: 65%;
    
    }
  }

  @media screen and (min-width: 500px)  {
    
    .ack p{
        color: #f0f0f0;
        font-size: 20px;
       }
    }
  

 